@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); :root {
    --main-color: white;
    --nav-color: #03c1cf;
    --soial-hover-color: darkcyan;
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Abril Fatface', cursive;
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.4)), url(../img/background.webp);
    background-position: center;
    background-size: cover;
    color: var(--main-color);
    max-height: 700px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu nav {
    margin-left: 25px;
}

.navbar {
    position: relative;
}

.navbar-toggler {
    position: absolute;
    left: 90px;
    top: 15px;
}

.socialicons {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
}

.socialicons a {
    width: 30px;
    height: 30px;
    color: var(--nav-color);
    text-decoration: none;
}

.socialicons a:hover {
    color: var(--soial-hover-color);
}

.logoimage {
    width: 60px;
    height: 60px;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 300px;
    min-height: 500px;
    flex-wrap: wrap;
    margin-left: 40px;
}

.logo h1 {
    font-size: 3rem;
    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    font-weight: 400;
}

.logo p:first-of-type {
    font-size: 0.7em;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 200;
}

.logo p:last-of-type {
    font-size: 1em;
    font-family: var(--main-font);
    color: var(--main-color);
    font-weight: 400;
}

.navbar-nav a:hover {
    color: var(--nav-color) !important;
}

.button-news {
    display: block;
    text-align: center;
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    color: var(--main-color);
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.41);
    font-family: var(--main-font);
    font-weight: 700;
    border-style: solid;
}

.button-news:hover {
    color: var(--nav-color);
    border-color: var(--nav-color);
}

.features {
    background-color: #161721;
    text-align: center;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features img {
    height: 50px;
    width: 50px;
    margin-top: 40px;
}

.features h3 {
    font-size: 1.5rem;
}

.features p {
    font-weight: 100;
}

@media (min-width: 770px) {
    .features {
        position: relative;
    }

    .feature-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }
}

#tickets {
    background: linear-gradient(0deg, #301d55 0%, #161721 100%);
    color: var(--main-color);
    padding-top: 30px;
}

#tickets img {
    max-width: 180px;
    max-height: 180px;
    margin-left: 70px;
}

.tickets-text {
    text-align: center;
}

.tickets-text h2 {
    font-size: 3rem;
    font-family: var(--secondary-font);
}

.tickets-text p {
    font-family: var(--main-font);
}

.ticket-cards h5 {
    color: var(--nav-color);
}

.ticket-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (min-width: 990px) {
    .ticket-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.gallery {
    background: linear-gradient(0deg, rgb(11, 11, 22) 0%, rgb(48, 29, 85) 100%);
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.gallery h2 {
    font-size: 3rem;
    font-family: var(--secondary-font);
    color: var(--main-color);
}

.gallery p {
    font-family: var(--main-font);
    color: var(--main-color);
}

.owl-item {
    max-width: 600px;
    max-height: 600px;
    margin: 30px;
}

#carousel {
    margin: auto;
    max-height: 800px;
    max-width: 800px;
}

#line-up {
    background: linear-gradient(0deg, rgb(23, 16, 41) 0%, rgb(11, 11, 22) 100%);
    color: var(--main-color);
    text-align: center;
    font-family: var(--main-font);
    padding-top: 30px;
}

#line-up img {
    max-width: 200px;
    max-height: 200px;
}

#line-up h2 {
    font-family: var(--secondary-font);
    font-size: 3rem;
}

#line-up h5 {
    font-family: var(--secondary-font);
}

.stars p:first-of-type {
    color: var(--nav-color);
}

@media (min-width: 900px) {
    .stars {
        display: grid;
        grid-template-columns: 450px 450px;
        grid-template-rows: 1fr 1fr;
        justify-content: space-around;
        align-items: center;
    }
}

#news {
    background: rgb(23, 16, 41);
    color: var(--main-color);
    text-align: center;
    font-family: var(--main-font);
    margin-top: -20px;
    padding-top: 30px;
}

#news img {
    max-width: 100%;
    max-height: 100%;
}

#news h2 {
    font-family: var(--secondary-font);
    font-size: 3rem;
}

#news h5 {
    font-family: var(--secondary-font);
    text-align: center;
}

.latest-news p {
    color: var(--nav-color);
}

.timer {
    padding-top: 20px;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    color: var(--nav-color);
}

@media (min-width: 900px) {
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-bottom: 30px;
    }
}

#contact {
    background: #161721;
    color: var(--main-color);
    text-align: center;
    font-family: var(--main-font);
    padding-top: 30px;
}

#contact h2 {
    font-family: var(--secondary-font);
    padding-bottom: 10px;
}

.contact-form {
    padding-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.contact-button {
    color: var(--nav-color);
}

footer {
    background: #161721;
    color: var(--main-color);
    padding-top: 30px;
    padding-bottom: 20px;
    ; font-family: var(--main-font);
    text-align: center;
}

.logoimage-footer img {
    width: 60px;
    height: 60px;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 900px) {
    .navbar {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-left: 30px;
        padding-top: 10px;
    }
}

.navbar a {
    color: var(--main-color);
}

.navbar a:hover {
    color: var(--nav-color) !important;
}

.socialicons-footer {
    display: flex;
    justify-content: center;
}

.socialicons-footer a {
    width: 30px;
    height: 30px;
    color: var(--nav-color);
    text-decoration: none;
}

.socialicons-footer a:hover {
    color: var(--soial-hover-color);
}

footer p {
    padding-top: 20px;
}
