@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --main-color: white;
}

* {
    padding: 0;
    margin: 0;
}

.socialicons {
    display: flex;
    justify-content: flex-end;
}

.socialicons a {
    width: 30px;
    height: 30px;
    color: #03c1cf;
    text-decoration: none;
}

.socialicons a:hover {
    color: darkcyan;
}

#home {
    background-image: url(../img/background.webp);
    background-position: center;
    background-size: cover;
    color: var(--main-color);
}

#home h1 {
    font-size: 3em;
    font-family: 'Abril Fatface', cursive;
    color: var(--main-color);
    font-weight: 400;

}

.logoimage {
    width: 60px;
    height: 60px;
    display: inline-flex;
    justify-content: flex-start;
}

#home p:last-of-type {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
    font-weight: 400;
}

#home p:first-of-type {
    font-size: 0.7em;
    font-family: 'Lato', sans-serif;
    color: var(--main-color);
    font-weight: 400;
}

.menu a {
    color: var(--main-color);
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    display: inline-flex;
}

.menu a:hover {
    color: violet;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 327px;
    height: 498px;
    margin-left: 40px;
    flex-wrap: wrap;
    gap: 15px;



}

#home button {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 160px;
    height: 50px;
    font-size: 16px;
    background-color: transparent;
    color: var(--main-color);
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.41);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border-style: solid;
}

#home button:hover {
    color: #03c1cf;
    border-color: #03c1cf;
}